<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Fishing app</title>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>
<body>
	<div class="navBar">
		<% if (user) {%>
			
			<a href="/user/logout">Log Out</a>

		<%}else{%>
		<a href="/user/login">Log In</a>

		<%}%>
		<a href="/">Home</a>
	</div>

	
