<% include ../views/partials/boilerplate.ejs %>

<h1><%= documentTitle %></h1>

<p><%=mainContent%></p>


<div class="mainPageLinks">
<a href="/fishlist" id="test">Full list of Species</a>
</div>
<div class="mainPageLinks">
<a href="/gofish">Full list of regions</a>
</div>
<div class="mainPageLinks">
<a href="/user">Create a New User</a>
</div>
<div class="mainPageLinks">
<a href="/user/mypage">My Page</a>
</div>

<div class="footer">
<% include ../views/partials/footer.ejs %>
</div>