<% include ../views/partials/boilerplate.ejs %>

<h1><%= documentTitle %></h1>

<p><%=mainContent%></p>

<a href="/fishlist">Full list of Species</a>
<a href="/gofish">Full list of regions</a>
<a href="/user">Create a New User</a>

<% include ../views/partials/footer.ejs %>