<% include ../views/partials/boilerplate.ejs %>
<div class="containerIndex">
	
	<h1 class="mainTitle"><%=documentTitle%></h1>
	<h2><%=mainContent%></h2>
	<p><%=subContent%></p>
	
	<br>

	<div>
		<a class="mainButton" href="/gofish">Full list of regions</a>
	</div>

	<br>
	
	<a class="subLink" href="/user">Create a New User</a>

</div>
<% include ../views/partials/footer.ejs %>