<% include ../../views/partials/boilerplate.ejs %>

<h1>Input Region</h1>

<a href="/goFish/northeast_canyon">Northeast Canyon</a><br>
<a href="/goFish/southern_east_coast">Southern East Coast</a><br>
<a href="/goFish/north_pacific">North Pacific</a><br>
<a href="/goFish/south_pacific">South Pacific</a><br>
<a href="/goFish/gulf_of_mexico">Gulf of Mexico</a><br>

<% include ../../views/partials/footer.ejs %>