<% include ../../views/partials/boilerplate.ejs %>
<div class="containerBackground">
	<div class="containerInformation">	
		<h1>Full Species List</h1>
		<ul>
			<% allFish.forEach((fish) => { %>
				<li>
				<h2>
					<a href="/fishlist/<%=fish.species%>"><%= fish.species %></a>
				</h2><br>
				<h3>
					<a class="mainButton" href="/user/myfish/<%=fish.species%>">Add to my fish List</a>
					</h3>
				</li>
			<% }) %> 
		</ul>
	</div>
</div>
	<% include ../../views/partials/footer.ejs %>
