<% include ../../views/partials/boilerplate.ejs %>

<h1>Full Species List</h1>

<ul>
	<% allFish.forEach((fish) => { %>
		<li class="fullList">
		<h2 class="speciesName">
			<a class="aTag" href="/fishlist/<%=fish.species%>"><%= fish.species %></a>
		</h2><br>
		<h3 class="addButton">
			<a class="aTag" href="/user/myfish/<%=fish.species%>">Add to my fish List</a>
			</h3>
		</li>
	<% }) %> 
</ul>

<a href="/" class="homebutton">Homepage</a>

<div class="footer">
	<% include ../../views/partials/footer.ejs %>
</div>