<% include ../../views/partials/boilerplate.ejs %>
<a href="/weather"

<h1>Select Region</h1>

<ul>
	<% data.forEach((loc) => { %>
		<li class="regionList">
			<a class="regionLink" href="/gofish/<%=loc.id%>"><%= loc.location %></a>
			<form action="/weather/<%=loc.id%>" method="get">
				<input class="button" type="submit" value="Check the weather for <%=loc.location%>!" />
			</form>
		</li>
	<% }) %> 
</ul>

<a href="/" class="homebutton">Homepage</a>

<div class="footer">
<% include ../../views/partials/footer.ejs %>
</div>