<% include ../../views/partials/boilerplate.ejs %>

<h1>Input Region</h1>

<a href="/goFish/1">Northeast Canyon</a><br>
<a href="/goFish/2">Southern East Coast</a><br>
<a href="/goFish/3">North Pacific</a><br>
<a href="/goFish/4">South Pacific</a><br>
<a href="/goFish/5">Gulf of Mexico</a><br>

<% include ../../views/partials/footer.ejs %>