<% include ../../views/partials/boilerplate.ejs %>

<h1>Input Region</h1>

<ul>
	<% location.forEach((loc) => { %>
	<li><a href="/gofish/<%=loc.id%>"><%= loc.location %></a></li>
	<% }) %> 
</ul>

<% include ../../views/partials/footer.ejs %>