<% include ../../views/partials/boilerplate.ejs %>
<a href="/weather"

<h1>Select Region</h1>

<ul>
	<% location.forEach((loc) => { %>
		<li class="regionList">
			<a class="regionLink" href="/gofish/<%=loc.id%>"><%= loc.location %></a>
		</li>
	<% }) %> 
</ul>

<a href="/" class="homebutton">Homepage</a>

<div class="footer">
<% include ../../views/partials/footer.ejs %>
</div>