<% include ../../views/partials/boilerplate.ejs %>
	<div class="containerIndex">
		<h1><%=singleFishSpecies.species%></h1>
		<h3>Max Weight: <%=singleFishSpecies.weight%> lbs</h3><br>
		<h3>List of all locations that you can find this species</h3>
		<ul>
			<% fishLocations.forEach((place) => { %> 
				<li><%=place.location %></li>
			<%})%>
		</ul>
		<div class="spacer">
		<a class="mainButton" href="/gofish">Regions</a>
		<a class="mainButton" href="/fishlist">Full species list</a>
		<a class="mainButton" href="/user/myfish/<%=singleFishSpecies.species%>">Add</a>
		</div>
	</div>
<% include ../../views/partials/footer.ejs %>