body {
	/*color: #dee1e3;*/
	font-family: 'Comfortaa', cursive;
	color: black;
	background-color: rgba(48, 86, 221, .9);
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Shokunin_world_map_more_detail.svg/1000px-Shokunin_world_map_more_detail.svg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-position: -100px;
	text-align: center;
	margin:0 auto;
	min-width: 1200px;
},

p{

}

div{

}
a{
	text-decoration: none;
	color: rgba(255, 255, 255, .5);

}
a:hover{
	color: rgba(255, 255, 255, 1);
}

ul{
	list-style: none;
}
input{
	background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.subLink{
	font-size: 20px;
}

.navBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: white;
	line-height: 50px;
	background-color: rgb(0, 12, 54);
	text-align: left;
}
.navBarLink{
	color: rgba(255, 255, 255, .5);
	text-decoration: none;
	font-size: 25px;
	padding: 0 30px 0 10px;
	border-left: 2px solid rgba(255, 255, 255, .5);
}

.navBarLink:Hover{
	color: white;
	border-left: 2px solid rgba(255, 255, 255, 1);
}
.importantInformation{
	color: rgb(167, 38, 38);
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	color: rgba(255, 255, 255, .5);
	line-height: 50px;
	background-color: rgb(0, 12, 54);
	text-align: center;
	font-size: 25px;
}

.emoji{
	color: white;
	font-size: 30px;

}

.mainTitle{
	font-size: 90px;
	font-family: 'Bowlby One SC', cursive;
}

.contentTitle{
	font-size: 80px;
/*	font-family: 'Bowlby One SC', cursive;*/
}
.mainButton{
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 5px;
	padding: 10px 60px 10px 60px;
	text-align: center;
	margin: 0 auto;
}

.mainButton:Hover{
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid rgba(255, 255, 255, 1);
}

.mainPage{
	margin-top: 20px;
}

.back{
	z-index: 3;
	position: fixed;
	bottom: 65px;
	left: 5px;
}
.weatherForm{
	/*border: 2px solid white;*/
}
.weatherButton{
	color: rgba(255, 255, 255, .5);
	font-size: 20px;
	padding: 2px;
	position: relative;
	top: -15px;
	border: none;
}
.weatherButton:Hover{
	border-radius: 2px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid rgba(255, 255, 255, 1);
}
.containerIndex {
	/*color: rgb(107, 104, 104);*/
	color: white;
	font-size: 30px;
	margin: 20vh auto;
	/*border: 2px solid black;*/
	width: 60vw;
	background: radial-gradient(rgba(0, 12, 54, .9),rgba(0, 12, 54, .8), rgba(0, 12, 54, .5)) ;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	min-width: 1000px;
}
.containerBackground {
	color: white;
	font-size: 30px;
	margin: 0 auto;
	/*border: 2px solid black;*/
	background: radial-gradient(rgba(0, 12, 54, .9),rgba(0, 12, 54, .8), rgba(0, 12, 54, .5)) ;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;

}
.containerInformation{
	margin: 10vh auto;
	max-width: 1200px;
}
.informationListTitle{
}
.smallList{
	font-size: 50px;
	/*border: 2px solid white;*/
}
li{
	margin: 10px auto;
}
.singleSpecies {
/*	border: 2px solid white;*/
	margin: 0 auto 20px auto;
}

h2, .singleFishSpecies{
	font-size: 60px;
	margin: 60px auto 0 auto;
}
h3, .singleFishSpecies{
	margin: 10px auto 10px auto;
}
.newFishForm{
	color: rgba(255, 255, 255, 0);
	justify-content: left;
	text-align: left;
	position: fixed;
	bottom: 125px;
	left: 5px;
	z-index: 3;
/*	border: 2px solid white;*/
	max-width: 400px


}
.toggleForm{
	position: fixed;
	z-index: 3;
	bottom: 65px;
	left: 5px;
}
.show{
	color: rgba(255, 255, 255, .5)
}

#species{
	margin: 10px auto;
}
#weight{
	margin: 10px auto;
}
.msg{
	color: rgb(167, 38, 38);
	font-size: 20px;
}
.spacer{
	margin-bottom: 20px;
}
.smallButton{
	color: rgba(255, 255, 255, 1);
	border: 2px solid rgb(255, 255, 255);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
.smallButton:Hover{
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, .7);

}
.inputBoxStd{
	border: 2px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, .2);
	border-radius: 5px;
	padding: 10px;
}
select{
	-webkit-appearance: none;
	background: none;
    color: inherit;
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
select:Hover{
	background-color: rgba(255, 255, 255, .5);
	border:  2px solid rgba(255, 255, 255, .1);
}
.space{
	margin: 20px auto;
}

.myPageButton{
	width: 500px;
	margin-bottom: 20px;
}
#info{
	max-width: 700px;
	overflow: scroll;
	text-align: center;
	margin: 0 auto;
}
.containerUserBackground{
	min-height: 1500px;
}
.warning{
	font-size: 20px;
}
.uname{
	float: right;
	padding: 0 30px 0 0;
	margin: 0;
	font-size: 25px;
	border: none;
}
.uname:hover{
	border: none;
}
.welcomeMsg{
	margin: 0 auto
}
