<h1>Create a New User</h1>

<%-message%>

<form action="/user" method="post">
  <input class="inputBox" name="uname" type="text" placeholder="Username"/>
  <input class="buttonAdd" type="submit" value="Create User!" />
</form>