<h1>Create a New User</h1>

<%-message%>

<form action="/user" method="post">
  <input class="inputBox" name="uname" type="text" placeholder="Username"/>
   <input class="inputBox" name="password" type="text" placeholder="Password"/>
  <input class="buttonAdd" type="submit" value="Create User!" />
</form>

<p>if your account already exists, <a href="/user/login">Login!</a></p>