<h1> Update this fish in your list! </h1>
<h2>Update fish in list</h2>
<form action="/user/mypage/<%=data.id%>" method="get">
	<input name="species" type="hidden" value="<%=data.user_fish_id%>"/>
  	<input name="weight" type="text" placeholder="Weight"/>
  	<% include ../../views/partials/locationsDropdown.ejs %>
	<input name="info" type="text" placeholder="Info"/>
	<input type="submit" value="Add it!" />
</form>
