<h1>Made The fish</h1>

<ul>
	<% userData.forEach((fish) => { %>

	<li>
	<%= fish.user_fish_id %><br>
	<%= fish.user_fish_weight %><br>
	<%= fish.user_fish_loc_id %><br>
	<%= fish.user_fish_info%>
	</li>

	<% }) %> 
</ul>