<% include ../../views/partials/boilerplate.ejs %>
<h1>List of all fish caught by <%=data%></h1>
<br>
<br>
<br>

<p>You do not have any fish in your list! Go to <a href="/fishlist" id="test">Full list of Species</a> or <a href="/gofish">Full list of regions</a> to view the lists of species to add!</p>

<br>
<br>
<br>


<a href="/" class="homebutton">Homepage</a>

<div class="footer">
<% include ../../views/partials/footer.ejs %>
</div>